body {
    background-color: cadetblue;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#terminal {
    overflow-y: scroll;
    background-color: #1D1C1A;
    width: 70%;
    height: 500px;
}

/*
HISTORY STYLE
*/
#history {
    color: #f4f1d6;
    margin-left: 10px;
}

/*
COMMAND INPUT STYLE
*/
#entete_command {
    color: #cca9dd;
    margin-left: 10px;
}

#input_command {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border: none;
    background: none;
    outline: none;
    caret-color: #f4f1d6;
    width: calc(100% - 250px);
}

.valid { color: #b0f2b6; }

.unvalid { color: #ff6961; }

#result {
    color: rgb(85, 83, 83);;
}