:root {
    --back-terminal: rgba(24, 26, 27, 0.452); 
    --default-color: #CDD6F4; /* Couleur des textes par défaut */
    --back-site: #11111B; 

    --green: #A6E3A1; /* Valid */
    --red:   #F38BA8; /* Invalid */
    --blue:  #89B4FA; /* Entete */
    --mauve: #CBA6F7; /* Curseur */
    --yellow:#F9E2AF; /* Resultat */
    --cyan:  #94E2D5; /* Command surlignement */ 
}

/* Version téléphone */
@media (max-width: 768px) {
    #terminal {
        width: 95%; 
        height: 80vh; 
    }
    #history, #entete_command, #input_command {
        font-size: 15px;
    }
}

/* Version pc */
@media (min-width: 769px) {
    #terminal {
        width: 60%;
        height: 50vh;
    }

    #history, #entete_command, #input_command {
        font-size: 16px;
    }
}

@keyframes back-anim {
    0%   { background-position: 0% 100%; }      
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 100%;}
}

body {
    background-size: 1400% 1400%;
    animation: back-anim 20s ease infinite;
    background-image: radial-gradient(circle, 
        #4c244b 0%, 
        #2C001E 70%
    );
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    height: 95vh;
}

/*
TERMINAL APPARENCE ET POSITIONNEMENT
*/
#terminal {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--back-terminal);
    backdrop-filter: blur(5%);
    border-radius: 10px;

    transition: width ease ease, height 0.5s ease;
}

/*
HISTORY STYLE
*/
#history {
    margin-left: 10px;
    font-size: 16px;
}

.color_response { color: var(--default-color); }

command { color: var(--cyan); }

/*
COMMAND INPUT STYLE
*/
#command-line {
    display: flex;
}

.entete_color { 
    color: var(--blue); 
    font-weight: bold;
}

#entete_command {
    margin-left: 10px;
    font-size: 16px;
}

#input_command {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;

    caret-color: var(--mauve);
    font-size: 16px;

    flex: 1 1 50%;
}

.valid { color: var(--green); }

.invalid { color: var(--red); }

/* Presentation */
.rainbow {
    background: linear-gradient(40deg, #f38ba8, #f9e2af, #a6e3a1, #94e2d5, #89b4fa, #cba6f7, #f38ba8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#presentation pre {
    text-align: center;
}

#presentation span {
    color: var(--mauve);
}

