:root {
    --back-terminal: #1E1E2E; 
    --default-color: #CDD6F4; /* Couleur des textes par défaut */
    --back-site: #11111B; 
    --green: #A6E3A1; /* Valid */
    --red:   #F38BA8; /* Invalid */
    --blue:  #89B4FA; /* Entete */
    --mauve: #CBA6F7; /* Curseur */
    --yellow:#F9E2AF; /* Resultat */
    --cyan:  #94E2D5; /* Command surlignement */
}

body {
    background-color: var(--back-site);
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
TERMINAL APPARENCE ET POSITIONNEMENT
*/
#terminal {
    overflow-y: scroll;
    background-color: var(--back-terminal);
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

/*
HISTORY STYLE
*/
#history {
    margin-left: 10px;
    font-size: 16px;
}

.color_response { color: var(--default-color); }

command { color: var(--cyan); }

/*
COMMAND INPUT STYLE
*/
#command-line {
    display: flex;
}

.entete_color { 
    color: var(--blue); 
    font-weight: bold;
}

#entete_command {
    margin-left: 10px;
    font-size: 16px;
}

#input_command {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border: none;
    background: none;
    outline: none;

    caret-color: var(--mauve);
    font-size: 16px;

    flex: 1 1 50%;
}

.valid { color: var(--green); }

.invalid { color: var(--red); }
